@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    user-select: none;
    margin: 100px 0 0 0;

    background-color: #344046;
    width: 100vw;
    height: calc(100vh - 100px);
}

#wrapper {
    display: flex;
    justify-content: center;
}

#grid {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.square {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    box-sizing: border-box;
    border: 5px solid #222628;
    border-radius: 10px;

    color: whitesmoke;

    margin: 5px 5px;
    font: bold 350% "Rubik";
}

.selected {
    border-bottom-width: 12px;
}

.disabled {
    background-color: #2d3133;
    border-color: #2d3133;
}

.green {
    background-color: #43A047;
    border-color: #43A047;
}
.yellow {
    background-color: #e5c94e;
    border-color: #e5c94e;
}
.black {
    background-color: rgb(39, 39, 39);
    border-color: rgb(39, 39, 39);
}